<h3>pages#home</h3>
<p>
<%= link_to 'Products', products_path %>
</p>
<p>
<%= link_to 'Companies', companies_path %>
</p>
<p>
<%= link_to 'People', people_path %>
</p>
<p>
<%= link_to 'Sale', sales_path %>
</p>
